.link {
  font-size: 0.8rem;
}

.icon {
  min-width: 15px;
}

.miniIcon {
  min-width: 15px;
  top: 1px;
  font-size: 0.9rem;
}

.linkName {
  max-width: 220px;
}

@media only screen and (min-width: 1400px) {
  .link {
    font-size: 0.9rem;
  }
}
