main {
  margin-top: 0.25rem;
}

.sidebar {
  width: 200px;
  min-width: 200px;
  background-color: var(--bg-color);
  margin-top: 2rem;
  margin-right: 1.5rem;
}

.btnMobileFilters {
  height: 2rem;
  width: 2rem;
}

.searchResults {
  font-size: 0.9rem;
}

.list {
  margin-top: -0.5rem;
}

.contentWrapper {
  max-width: calc(100% - 200px - 1.5rem);
}

@media only screen and (min-width: 1400px) {
  .sidebar {
    width: 250px;
    min-width: 250px;
    margin-right: 1.3rem;
    margin-top: 3rem;
  }

  .contentWrapper {
    max-width: calc(100% - 250px - 1.3rem);
  }

  .list {
    margin-right: -1.3rem;
    margin-top: 0.7rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .contentWrapper {
    width: 100%;
    max-width: 100%;
  }
}
