version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "bootstrap"
        versions: ["5.2.x"]
      - dependency-name: "postcss"
    groups:
      frontend:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "octorust"
      - dependency-name: "resvg"
      - dependency-name: "tiny-skia"
      - dependency-name: "usvg"
    groups:
      backend:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/clomonitor-apiserver"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "node"
        versions: ["19-alpine3.19", "20-alpine3.19", "21-alpine3.19", "22-alpine3.19"]

  - package-ecosystem: "docker"
    directory: "/clomonitor-archiver"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/clomonitor-linter"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/clomonitor-notifier"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/clomonitor-registrar"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/clomonitor-tracker"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/database/migrations"
    schedule:
      interval: "weekly"
