[workspace]
resolver = "2"
members = [
    "clomonitor-apiserver",
    "clomonitor-archiver",
    "clomonitor-core",
    "clomonitor-linter",
    "clomonitor-notifier",
    "clomonitor-registrar",
    "clomonitor-tracker",
]

[workspace.package]
version = "1.0.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
anyhow = "1.0.75"
askalono = "0.4.6"
askama = "0.12.1"
askama_axum = "0.3.0"
async-trait = "0.1.74"
axum = { version = "0.6.20", features = ["macros"] }
bincode = "1.3.3"
cached = { version = "0.46.1", features = ["async"] }
clap = { version = "4.4.5", features = ["derive"] }
clomonitor-core = { path = "../clomonitor-core" }
comfy-table = "7.1.0"
config = "0.13.3"
deadpool = "0.10.0"
deadpool-postgres = { version = "0.11.0", features = ["serde"] }
futures = "0.3.29"
git2 = "0.18.1"
glob = "0.3.1"
graphql_client = { version = "0.13.0", features = ["reqwest"] }
hex = "0.4.3"
http = "0.2.11"
hyper = "0.14.28"
lazy_static = "1.4.0"
metrics = "0.21.1"
metrics-exporter-prometheus = "0.12.1"
mime = "0.3.17"
mockall = "0.11.4"
mockito = "1.1.1"
octorust = "0.3.2"
openssl = { version = "0.10.59", features = ["vendored"] }
postgres-openssl = "0.5.0"
postgres-types = { version = "0.2.6", features = ["derive"] }
predicates = "3.0.4"
regex = "1.10.2"
reqwest = "0.11.22"
resvg = "0.27.0"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = "1.0.108"
serde_yaml = "0.9.27"
serde_qs = "0.12.0"
sha2 = "0.10.8"
tempfile = "3.8.1"
tera = { version = "1.19.1", default-features = false }
time = { version = "0.3.29", features = [
    "formatting",
    "macros",
    "parsing",
    "serde",
] }
tiny-skia = "0.8.4"
tokio = { version = "1.34.0", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.10", features = [
    "with-time-0_3",
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.4.4", features = [
    "auth",
    "fs",
    "set-header",
    "trace",
] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }
usvg = "0.27.0"
uuid = { version = "1.5.0", features = ["serde"] }
which = "5.0.0"
wiremock = "0.5.21"
