[workspace]
members = [
    "clomonitor-apiserver",
    "clomonitor-core",
    "clomonitor-linter",
    "clomonitor-registrar",
    "clomonitor-tracker",
]

[workspace.package]
version = "0.7.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.64"

[workspace.dependencies]
anyhow = "1.0.65"
askalono = "0.4.6"
askama = { git = "https://github.com/djc/askama", rev = "c441459a27eb7c0c476ce70833e05224ba6894fd" }
askama_axum = { git = "https://github.com/djc/askama", rev = "c441459a27eb7c0c476ce70833e05224ba6894fd" }
async-trait = "0.1.57"
axum = "0.5.16"
bincode = "1.3.3"
clap = { version = "4.0.15", features = ["derive"] }
clomonitor-core = { path = "../clomonitor-core" }
comfy-table = "6.1.0"
config = "0.13.2"
deadpool = "0.9.5"
deadpool-postgres = { version = "0.10.2", features = ["serde"] }
futures = "0.3.24"
git2 = "0.15.0"
glob = "0.3.0"
graphql_client = { git = "https://github.com/graphql-rust/graphql-client", rev = "f2faa9feb96067921528eaf65040a3a1776837fc", features = [
    "reqwest",
] }
hex = "0.4.3"
http = "0.2.8"
hyper = "0.14.20"
lazy_static = "1.4.0"
metrics = "0.20.1"
metrics-exporter-prometheus = "0.11.0"
mime = "0.3.16"
mockall = "0.11.3"
openssl = { version = "0.10.42", features = ["vendored"] }
postgres-openssl = "0.5.0"
postgres-types = { version = "0.2.4", features = ["derive"] }
predicates = "2.1.1"
regex = "1.6.0"
reqwest = "0.11.12"
resvg = "0.23.0"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.86"
serde_yaml = "0.9.13"
serde_qs = "0.10.1"
sha2 = "0.10.6"
tempfile = "3.3.0"
tera = { version = "1.17.1", default-features = false }
time = { version = "0.3.15" }
tiny-skia = "0.6.6"
tokio = { version = "1.21.2", features = [
    "macros",
    "rt-multi-thread",
    "signal",
] }
tokio-postgres = { version = "0.7.7", features = [
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.3.4", features = [
    "auth",
    "fs",
    "set-header",
    "trace",
] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter", "json"] }
usvg = "0.23.0"
uuid = { version = "1.2.1", features = ["serde"] }
which = "4.3.0"
wiremock = "0.5.15"
