[workspace]
members = [
    "clomonitor-apiserver",
    "clomonitor-archiver",
    "clomonitor-core",
    "clomonitor-linter",
    "clomonitor-notifier",
    "clomonitor-registrar",
    "clomonitor-tracker",
]

[workspace.package]
version = "1.0.0"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.65"

[workspace.dependencies]
anyhow = "1.0.71"
askalono = "0.4.6"
askama = "0.12.0"
askama_axum = "0.3.0"
async-trait = "0.1.68"
axum = { version = "0.6.18", features = ["macros"] }
bincode = "1.3.3"
cached = "0.43.0"
clap = { version = "4.3.0", features = ["derive"] }
clomonitor-core = { path = "../clomonitor-core" }
comfy-table = "6.2.0"
config = "0.13.3"
deadpool = "0.9.5"
deadpool-postgres = { version = "0.10.5", features = ["serde"] }
futures = "0.3.28"
git2 = "0.17.1"
glob = "0.3.1"
graphql_client = { version = "0.12.0", features = ["reqwest"] }
hex = "0.4.3"
http = "0.2.9"
hyper = "0.14.26"
lazy_static = "1.4.0"
metrics = "0.21.0"
metrics-exporter-prometheus = "0.12.1"
mime = "0.3.17"
mockall = "0.11.4"
mockito = "1.0.2"
octorust = "0.3.2"
openssl = { version = "0.10.52", features = ["vendored"] }
postgres-openssl = "0.5.0"
postgres-types = { version = "0.2.5", features = ["derive"] }
predicates = "3.0.3"
regex = "1.8.3"
reqwest = "0.11.18"
resvg = "0.27.0"
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.96"
serde_yaml = "0.9.21"
serde_qs = "0.12.0"
sha2 = "0.10.6"
tempfile = "3.5.0"
tera = { version = "1.18.1", default-features = false }
time = { version = "0.3.21", features = [
    "formatting",
    "macros",
    "parsing",
    "serde",
] }
tiny-skia = "0.8.4"
tokio = { version = "1.28.1", features = [
    "macros",
    "process",
    "rt-multi-thread",
    "signal",
    "time",
] }
tokio-postgres = { version = "0.7.8", features = [
    "with-time-0_3",
    "with-serde_json-1",
    "with-uuid-1",
] }
tower = "0.4.13"
tower-http = { version = "0.4.0", features = [
    "auth",
    "fs",
    "set-header",
    "trace",
] }
tracing = "=0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json"] }
usvg = "0.27.0"
uuid = { version = "1.3.3", features = ["serde"] }
which = "4.4.0"
wiremock = "0.5.18"
