[data-theme='dark'] {
  --rm-primary: #131216;
  --rm-secondary: #0f0e11;

  --rm-primary-50: rgba(19, 18, 22, 0.5);
  --rm-primary-5: rgba(19, 18, 22, 0.95);

  --rm-secondary-900: #0f0e11;

  --rm-secondary-50: rgba(15, 14, 17, 0.5);
  --rm-secondary-15: rgba(15, 14, 17, 0.35);

  --color-black-75: rgba(255, 255, 255, 0.75);
  --color-black-25: rgba(255, 255, 255, 0.25);
  --color-black-10: rgba(255, 255, 255, 0.1);
  --color-black-5: rgba(255, 255, 255, 0.05);

  --color-white-25: rgba(0, 0, 0, 0.25);

  --color-light-gray: #676869;
  --bg-color: #2c2e31;
  --color-font: #a3a3a6;
  --body-bg: #222529;

  --highlighted: #f0a;

  --color-light-font: #cbd3da;
  --color-lighter-font: #e3e3e3;
  --color-extra-light-font: #fff;

  --bs-white: #000;
  --bs-primary: #131216;
  --bs-secondary: #222529;
  --bs-primary-rgb: 15, 14, 17;
  --bs-secondary-rgb: 34, 37, 41;

  --solid-border: #676869;
  --bg-code: rgba(0, 0, 0, 0.7);
  --bg-progressbar-stats: var(--color-black-10);
  --bg-loading: transparent;

  --rm-tertiary: #08f;

  .text-primary,
  .text-light,
  .text-dark {
    color: var(--color-light-font) !important;
  }

  .text-secondary {
    color: var(--color-font) !important;
  }

  .text-muted {
    color: #a0a0a0 !important;
  }

  .bg-white,
  .bg-light {
    background-color: var(--rm-primary) !important;
  }

  .btn-primary {
    background-color: var(--highlighted) !important;
  }

  .border,
  .border-bottom,
  .border-top,
  .border-start,
  .border-end,
  .table {
    border-color: var(--solid-border) !important;
  }

  .form-check-label:before,
  .form-control,
  input,
  select {
    background-color: var(--body-bg);
    border-color: var(--solid-border) !important;
    color: var(--color-font);
  }

  hr {
    background-color: var(--color-black-75);
  }

  .page-link {
    background-color: var(--rm-primary);
    color: var(--color-font);
    border-color: var(--color-font) !important;
  }

  .page-item {
    &.disabled .page-link {
      background-color: var(--color-black-10) !important;
      color: var(--color-font);
      border-color: var(--color-font) !important;
    }

    &.active .page-link {
      background-color: var(--color-font);
      color: var(--rm-secondary);
    }
  }

  .dropdown-menu {
    background-color: var(--rm-primary);
    border-color: var(--solid-border);
  }

  .dropdown-item {
    color: var(--color-light-font);

    &:hover {
      background-color: var(--bg-color);
    }
  }

  .modal-content {
    background-color: var(--bg-color);
    color: var(--color-font);
  }

  .modal-header {
    color: var(--color-font) !important;
  }

  .modal-header,
  .modal-footer {
    border-color: var(--solid-border);
  }

  .progress,
  .dot {
    background-color: var(--color-font);
  }

  // Update switch color
  .form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%238c96a1'/%3e%3c/svg%3e");
  }

  .form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  .form-select {
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ccc%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
  }

  .tooltip {
    &.bs-tooltip-bottom .tooltip-arrow::before {
      border-bottom-color: var(--solid-border) !important;
    }

    & .tooltip-inner {
      background-color: var(--rm-secondary) !important;
      border: 1px solid var(--solid-border) !important;
      color: var(--color-font) !important;
    }

    & .tooltip-inner code {
      color: var(--highlighted);
    }
  }

  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }

  .alert-warning {
    background-color: rgba(187, 128, 9, 0.15) !important;
    border-color: rgba(187, 128, 9, 0.4) !important;
  }

  // UI
  .lightIcon,
  .lightText {
    color: var(--color-light-font) !important;
  }

  .lighterText {
    color: var(--color-lighter-font) !important;
  }

  .extraLightText {
    color: var(--color-extra-light-font) !important;
  }

  .loadingBg {
    background-color: rgba(0, 0, 0, 0.25);
  }

  .searchBar {
    background-color: var(--body-bg) !important;
  }

  .card {
    background-color: var(--body-bg);
    border-color: var(--solid-border);
  }

  .card-header {
    border-bottom-color: var(--solid-border);
    color: var(--color-light-font);
  }

  .search {
    box-shadow: 0 0 0 0.3rem var(--color-black-25) !important;
  }

  .lightBorder {
    border-color: var(--solid-border);
  }

  .alphaBadge {
    background-color: var(--color-black-25);
  }

  @media (hover: hover) {
    .navbarLink:hover::before {
      background-color: var(--color-light-font);
    }

    .card:hover {
      border-color: var(--solid-border);
      box-shadow: 0px 0px 5px 0px var(--solid-border);
    }
  }
}
