$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1920px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 930px,
  xl: 1080px,
  xxl: 1320px,
  xxxl: 1860px,
);

@import '~bootstrap/scss/bootstrap.scss';
@import './light.scss';
@import './dark.scss';

:root {
  --rm-green: #90be6d;
  --rm-yellow: #f9c74f;
  --rm-orange: #f8961e;
  --rm-red: #f94144;

  --rm-rgb-green: 144, 190, 109;
  --rm-rgb-yellow: 249, 199, 79;
  --rm-rgb-orange: 248, 150, 30;
  --rm-rgb-red: 249, 65, 68;
}

html,
body,
#clomonitor {
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

body {
  background-color: var(--body-bg);
  color: var(--color-font);
}

button:focus,
a:focus,
input:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 0 0 transparent !important;
}

main {
  margin-top: 0rem !important;
}

// Bootstrap changes
.form-check-input {
  margin-top: 0.3rem;
}

.form-label {
  margin-bottom: 0;
  line-height: 1.65rem;
}

.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label {
  color: var(--color-font);
}

.was-validated .form-check-input:valid:checked ~ .form-check-label::before,
.form-check-input.is-valid:checked ~ .form-check-label::before {
  border-color: var(--highlighted) !important;
  background-color: var(--highlighted);
}

.form-check-input:checked {
  background-color: var(--highlighted);
  border-color: var(--highlighted);
}

.form-select:focus {
  border-color: var(--highlighted);
}

a,
.btn-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.dropdown-item {
  &:hover {
    text-decoration: none;
  }
}

.page-item.active .page-link {
  background-color: var(--rm-primary);
  border-color: var(--rm-primary);
}

// Fix select jump
@supports (-ms-ime-align: auto) {
  select {
    width: auto !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767.98px) {
  select:not(.foundation):active {
    font-size: 14px !important;
  }
}

// Overwrite Bootstrap styles
.text-primary {
  color: var(--rm-primary) !important;
}

.text-secondary {
  color: var(--rm-secondary) !important;
}

.bg-primary {
  background-color: var(--rm-primary) !important;
}

.bg-secondary {
  background-color: var(--rm-secondary) !important;
}

.bg-orange {
  background-color: var(--bs-orange);
}

.btn-primary {
  background-color: var(--rm-primary);
  border-color: var(--rm-primary);

  &:hover,
  &:disabled,
  &.disabled,
  &.active,
  &:active,
  &:focus {
    background-color: var(--rm-primary);
    border-color: var(--rm-primary);
  }
}

.btn-outline-primary {
  border-color: var(--rm-primary);

  &:hover,
  &:disabled,
  &.disabled,
  &.active,
  &:active,
  &:focus {
    border-color: var(--rm-primary);
  }
}

.btn-secondary {
  background-color: var(--rm-secondary);
  border-color: var(--rm-secondary);

  &:hover,
  &:disabled,
  &.disabled,
  &.active,
  &:active,
  &:focus {
    background-color: var(--rm-secondary);
    border-color: var(--rm-secondary);
  }
}

.border-primary {
  border-color: var(--rm-primary) !important;
}

.btn {
  &:hover {
    filter: brightness(0.8);
  }
}

.alert-warning {
  color: var(--color-font) !important;
}

.table {
  color: var(--color-font);
}

.table > :not(:first-child) {
  border-top-color: inherit;
}

.tooltip.show {
  opacity: 0.97;
}

.noFocus:focus {
  outline: none !important;
}

.truncateWrapper {
  min-width: 0;
}

.cursorPointer:not([disabled]) {
  cursor: pointer;
}

.cursorDefault:not([disabled]) {
  cursor: default;
}

// Scroll

.noScroll-sidebar,
.noScroll-modal {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 991.98px) {
  .noScroll-sidebar.noScroll-lg,
  .noScroll-modal.noScroll-lg {
    overflow: auto !important;
  }
}

@media only screen and (max-width: 767.98px) {
  .noScroll-sidebar.noScroll-md,
  .noScroll-modal.noScroll-md {
    overflow: auto !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .noScroll-sidebar.noScroll-sm,
  .noScroll-modal.noScroll-sm {
    overflow: auto !important;
  }
}

@media only screen and (max-width: 575.98px) {
  .pagination-sm .page-link {
    font-size: inherit;
  }
}
