[data-theme='light'] {
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-5: rgba(0, 0, 0, 0.05);

  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-light-gray: #e2e2e2;
  --bg-color: #f9f9f9;
  --body-bg: #fff;
  --color-font: #38383f;
  --solid-border: #9b9ea1;
  --default-border: #dee2e6;
  --bg-code: var(--color-black-5);
  --bg-progressbar-stats: var(--color-black-5);
  --bg-loading: var(--color-white-25);

  --rm-tertiary: #08f;

  .tooltip {
    &.bs-tooltip-bottom .tooltip-arrow::before {
      border-bottom-color: var(--color-font) !important;
    }

    & .tooltip-inner {
      background-color: var(--bg-color) !important;
      border: 1px solid var(--color-font) !important;
      color: var(--color-font) !important;
    }
  }

  .tooltipDropdown {
    background-color: var(--bg-color) !important;
    border: 1px solid var(--color-font) !important;
    color: var(--color-font) !important;
  }

  .tooltipDropdown .arrow::before {
    border-bottom-color: var(--color-font) !important;
  }

  .alert-warning {
    border-color: rgba(212, 167, 44, 0.4) !important;
  }

  .bg-muted {
    background-color: #6c757d;
  }
}
