.dateBtn {
  width: 150px;
}

.legend {
  font-size: 0.65rem;
}

[data-theme='light'] :global(.tooltipDropdown) {
  border-color: var(--default-border) !important;
}

[data-theme='light'] :global(.tooltipDropdown .arrow)::before {
  border-bottom-color: var(--default-border) !important;
}

.arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
  top: -0.5rem;
  left: 0.85rem;
}

.arrow::before {
  position: absolute;
  content: '';
  border-color: transparent;
  border-style: solid;
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
}

.calendar {
  background-color: var(--body-bg);
  color: var(--color-font);
}

.calendar :global(.rdrDateDisplayWrapper) {
  display: none;
}

.calendar :global(.rdrDateInput),
.calendar :global(.rdrNextPrevButton) {
  border-radius: 0;
  border-color: var(--default-border);
  background-color: var(--body-bg);
  color: var(--color-font);
  box-shadow: none;
}

.calendar :global(.rdrDateInput) input {
  color: var(--color-font);
}

.calendar :global(.rdrNextPrevButton) {
  background-color: var(--color-black-10);
  border: 1px solid var(--default-border);
}

.calendar :global(.rdrNextButton) i {
  border-color: transparent transparent transparent var(--color-font);
}

.calendar :global(.rdrPprevButton) i {
  border-color: transparent var(--color-font) transparent transparent;
}

.calendar :global(select) {
  border-radius: 0;
  border: 1px solid var(--default-border);
  padding: 2px 30px 2px 10px;
  min-width: 115px;
  color: var(--color-font);
}

[data-theme='dark'] .calendar :global(.rdrNextPrevButton) {
  color: var(--color-light-font);
}

.calendar :global(.rdrDayDisabled) {
  cursor: default;
}

[data-theme='dark'] .calendar :global(.rdrDay) span {
  color: var(--color-light-font);
}

[data-theme='dark'] .calendar :global(.rdrDayDisabled) {
  background-color: var(--color-black-5);
}

[data-theme='dark'] .calendar :global(.rdrDayDisabled) span,
[data-theme='dark'] .calendar :global(.rdrDayPassive) span {
  color: var(--color-black-25);
}

@media only screen and (min-width: 1400px) {
  .dateBtn {
    font-size: 0.75rem;
    padding: 0.25rem 0.3rem;
  }
}
