.categoryTitle {
  margin-top: 2rem;
}

.label {
  font-size: 0.75rem;
}

.input {
  width: 125px;
}

.desktopDateRange {
  display: block;
}

.mobileDateRange {
  display: none;
}

@media screen and (max-device-width: 640px) {
  .desktopDateRange {
    display: none;
  }

  .mobileDateRange {
    display: flex;
  }
}
