.categoryTitle {
  margin-top: 2rem;
}

label {
  font-size: 0.9rem;
}

.dateBtn {
  background-color: var(--body-bg);
  border-color: var(--color-black-25) !important;
  color: var(--font-color);
}

.dateBtn:hover,
.dateBtn:disabled,
.dateBtn.disabled,
.dateBtn.active,
.dateBtn:active,
.dateBtn:focus {
  background-color: var(--color-black-5);
  border-color: var(--color-black-25) !important;
  color: var(--font-color);
}

[data-theme='light'] :global(.tooltipDropdown) {
  border-color: var(--default-border) !important;
}

[data-theme='light'] :global(.tooltipDropdown .arrow)::before {
  border-bottom-color: var(--default-border) !important;
}

.arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
  top: -0.5rem;
  left: 0.85rem;
}

.arrow::before {
  position: absolute;
  content: '';
  border-color: transparent;
  border-style: solid;
  bottom: -1px;
  border-width: 0 0.4rem 0.4rem;
}

.legends {
  font-size: 0.65rem;
  background-color: var(--bg-color);
}

.legendFrom {
  padding-left: 0.7rem;
}

.legendTo {
  padding-left: 0.35rem;
}

.dateRange {
  background-color: var(--body-bg);
  color: var(--color-font);
}

.dateRange :global(.rdrDateDisplay) {
  margin-top: 0;
}

.dateRange :global(.rdrDateDisplayWrapper) {
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--default-border);
}

.dateRange :global(.rdrDateInput),
.dateRange :global(.rdrNextPrevButton) {
  border-radius: 0;
  border-color: var(--default-border);
  background-color: var(--body-bg);
  color: var(--color-font);
  box-shadow: none;
}

.dateRange :global(.rdrDateInput) input {
  color: var(--color-font);
}

.dateRange :global(.rdrNextPrevButton) {
  background-color: var(--color-black-10);
  border: 1px solid var(--default-border);
}

.dateRange :global(.rdrNextButton) i {
  border-color: transparent transparent transparent var(--color-font);
}

.dateRange :global(.rdrPprevButton) i {
  border-color: transparent var(--color-font) transparent transparent;
}

.dateRange :global(select) {
  border-radius: 0;
  border: 1px solid var(--default-border);
  padding: 2px 30px 2px 10px;
  min-width: 115px;
  color: var(--color-font);
}

[data-theme='dark'] .dateRange :global(.rdrNextPrevButton) {
  color: var(--color-light-font);
}

.dateRange :global(.rdrDayDisabled) {
  cursor: default;
}

[data-theme='dark'] .dateRange :global(.rdrDay) span {
  color: var(--color-light-font);
}

[data-theme='dark'] .dateRange :global(.rdrDayDisabled) {
  background-color: var(--color-black-5);
}

[data-theme='dark'] .dateRange :global(.rdrDayDisabled) span,
[data-theme='dark'] .dateRange :global(.rdrDayPassive) span {
  color: var(--color-black-25);
}
