.year {
  background-color: var(--bg-color);
  font-size: 0.8rem;
}

.month {
  font-size: 0.75rem;
}

.dot {
  width: 26px;
  height: 26px;
  line-height: 1rem;
  font-size: 0.7rem;
  border: 2px solid var(--color-black-10);
}

.dot:disabled {
  background-color: var(--rm-primary);
  border-color: var(--rm-primary);
  opacity: 1;
}

[data-theme='dark'] .dot:disabled {
  background-color: var(--highlighted);
  border-color: var(--highlighted);
}

[data-theme='dark'] .dot:disabled .content {
  color: var(--color-extra-light-font) !important;
}

.dot:not(.activeDot):hover {
  transform: scale(1.15);
  transform-origin: center center;
  transition: 0.1s ease-in-out;
  box-shadow: inset 0 0 2px var(--color-font);
}

.activeDot {
  transform: scale(1.1);
  transform-origin: center center;
  font-weight: bold;
}

.activeDot .content {
  font-weight: bold;
  color: var(--bs-white);
}

.link {
  line-height: inherit;
  font-size: inherit;
}
