.progressTitle {
  font-size: 0.85rem;
  color: var(--color-font);
}

.progress {
  height: 0.35rem;
  background-color: var(--bg-progressbar-stats) !important;
}

.icon {
  margin-top: -2px;
}

.scoreWrapper {
  width: 57px;
}

.progressbar {
  animation: all 0.6s ease;
}

@media only screen and (max-width: 575.98px) {
  .progressTitle {
    font-size: 0.75rem;
  }

  .scoreWrapper {
    width: 45px;
    font-size: 0.8rem;
  }
}
