.chartWrapper {
  background-color: var(--bs-white) !important;
}

.reducedPaddingBottom {
  padding-bottom: calc(1rem - 15px) !important;
}

.cardHeader {
  font-size: 0.85rem;
}

.title {
  font-size: 1.5rem;
}

.select {
  width: 210px;
}

.checksBody {
  padding: 1.5rem 2rem;
}

[data-theme='dark'] :global(.card).chartWrapper {
  background-color: var(--color-black-5) !important;
}

:global(.apexcharts-heatmap-rect) {
  stroke: var(--bs-white);
}

[data-theme='dark'] :global(.apexcharts-heatmap-rect) {
  stroke: var(--bg-color);
}

:global(.apexcharts-tooltip) {
  background-color: var(--bs-white) !important;
  border-color: var(--rm-secondary-900) !important;
  color: var(--font-color) !important;
}

:global(.apexcharts-tooltip.apexcharts-theme-dark) {
  background-color: var(--bs-white) !important;
  border: 1px solid var(--solid-border) !important;
  color: var(--font-color) !important;
}

:global(.apexcharts-tooltip-title) {
  background-color: var(--color-black-5) !important;
  border-color: var(--rm-secondary-900) !important;
}

:global(.apexcharts-xaxistooltip) {
  background-color: var(--bs-white) !important;
  color: var(--font-color) !important;
  border-color: var(--rm-secondary-900) !important;
}

:global(.apexcharts-xaxistooltip)::before,
:global(.apexcharts-xaxistooltip)::after {
  border-bottom-color: var(--rm-secondary-900) !important;
}

:global(.apexcharts-canvas) {
  border-radius: 0 !important;
}

@media only screen and (max-width: 575.98px) {
  .donutWrapper {
    padding: 1rem 0.15rem;
  }

  .donutWrapper :global(.apexcharts-legend-series) {
    margin: 2px 3px;
  }

  .checksBody {
    padding: 1rem;
  }

  .selectWrapper {
    width: 100%;
  }

  .select {
    width: 100%;
  }
}
