.link {
  color: var(--color-1-800);
}

.link:hover {
  color: inherit;
}

.icon {
  font-size: 0.75rem;
  min-width: 12px;
}

@media (hover: hover) {
  .link:hover {
    color: var(--color-1-800);
  }
}
