.wrapper {
  background-color: var(--rm-primary-5);
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 575.98px) {
  .content :global(.h2) {
    font-size: calc(1.15rem + 0.9vw);
  }

  .content :global(.h5) {
    font-size: 1.15rem;
  }
}
