.score {
  height: 3.5rem;
  width: 3.5rem;
  min-width: 3.5rem;
}

.chart {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.circleBg {
  fill: var(--bs-white);
  stroke: var(--color-light-gray);
  stroke-width: 3px;
}

.circle {
  fill: none;
  stroke-width: 3px;
  transition: all 0.6s ease-in-out;
}

.value {
  fill: var(--color-font);
  text-anchor: middle;
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .score {
    height: 5.5rem;
    width: 5.5rem;
    min-width: 5.5rem;
  }

  .circleBg {
    stroke-width: 2px;
  }

  .circle {
    stroke-width: 2px;
  }
}
