.select {
  width: 180px;
}

@supports (-ms-ime-align: auto) {
  .select {
    width: auto !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767.98px) {
  .select:active {
    font-size: 16px !important;
  }
}
