.summary {
  background-color: var(--bg-color);
  font-size: 1rem;
  padding: 1.5rem;
}

.categories {
  top: -3px;
}

@media only screen and (min-width: 768px) {
  .bigSize {
    padding: 2rem 1.5rem;
  }
}
