.navbar {
  background-color: var(--rm-secondary);
}

.logo {
  height: 30px;
}

.badge {
  background-color: var(--color-white-25);
  font-size: 0.65rem;
  padding: 0.25rem 0.4rem;
}

@media only screen and (max-width: 575.98px) {
  .searchWrapper {
    width: 100%;
  }
}
