.name {
  font-size: 0.85rem;
}

.icon {
  font-size: 1.25rem;
}

.exemptIcon {
  font-size: 1.5rem;
}

.exemptionReason {
  font-size: 0.8rem;
}

.iconCell {
  width: 40px;
}

.legend {
  font-size: 75%;
  margin-bottom: 2px;
}

.contentCell {
  table-layout: fixed;
  overflow-wrap: break-word;
}

.tooltipMessage {
  margin-left: -3px;
}

.exemptionTooltipMessage {
  margin-left: 5px;
}

.miniIcon {
  font-size: 0.75rem;
}

@media only screen and (min-width: 576px) {
  .name {
    font-size: 1rem;
  }

  .iconCell {
    width: 60px;
  }
}
