.badge {
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  padding: 0.2em 0.5em;
}

.blueBadge {
  background-color: var(--rm-tertiary);
  border-color: var(--rm-tertiary);
}

.miniBadge {
  background-color: var(--bs-white);
  border-color: var(--rm-secondary);
  font-size: 0.7rem;
  padding: 0.2em 0.5em;
  height: 19px;
  line-height: 1.15;
}

.symbol {
  margin-top: -2px;
}

.logoWrapper {
  height: 10px;
  width: 10px;
  top: -2px;
}
